:root{
	--lightgreen: #6d9773;
}


*{
	margin:0; padding:0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	outline: none; border:none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
	
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden; 
}


section{
	padding: 2rem 9%;
}

.btn{
	display: inline-block;
	margin-top: 1rem;
	border-radius: 5rem;
	background: #CBF7BB;
	color: #303c1b;
	padding:10px 10px;
	cursor: pointer;
	font-size: 1.7rem;
}

.btn:hover{
	background-color: #ffcb43;
	background-image: linear-gradient(319deg, #ffcb43 0%, #ff6425 37%, #ff0016 100%);
	color: whitesmoke;
	border: 2px solid whitesmoke;
}

.btn2{
	
	height: 40px;
	width: 30%;
	margin: 0 35px;
	padding: auto;
	text-align: center;
	padding-top: 10px;
	border-radius: 50px;
	border: none;
	outline: none;
	background: #CBF7BB;
	color: #303c1b;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 30px;
	margin-bottom: 50px;
	border: 2px solid darkgreen;
}

.btn2:hover{
	background-color: #dbf26e;
	background-image: linear-gradient(319deg, #dbf26e 0%, #61fa74 37%, #1cfdd6 100%);
	color: black;
	border: 2px solid black;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    color: #303C1B;
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover {
    color: darkorange;
}

header .icons a {
    font-size: 3rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover {
    color: darkorange;
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, 0.3);
    display: none;
}

 body{
 	background-color: #c3d18c;
 }

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;    
    background: url("IMG/HERBSBG.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.home .content{
	max-width: 50rem;
}


.home .content h3{
	font-size: 6rem;
	color: #CBF7B8;
}

.home .content span{
	font-size: 3.5rem;
	color: #E09132;
	padding: 1rem 0;
	line-height: 1.5;
}
.home .content p{
	font-size: 1.6rem;
	color: #CBF7B8;
	padding: 1rem 0;
	line-height: 1.5;
}

/* card */
.container{
	display: grid;
	place-items: center;
	margin-inline: 1.5rem;
	padding: 5rem;
	margin-left: 2%;
}

.container h1{
	font-size: 70px;
	margin-bottom: 30px;

}

.card_container{
	grid-template-columns: repeat(4, 1fr);
	display: grid;
	row-gap: 3.5rem;
}

.card_article{
	position: relative;
	margin: 10px 10px; 
	margin-bottom: 20px;
	display: grid;
	column-gap: 10px;

}

.card_img{
	width: 250px;
	height: 200px;
	border-radius: 1.5rem;

}

.card_data{
	width: 200px;
	background-color: white;
	padding: 1.5rem 2rem;
	box-shadow: 0 8ppx 24px hsla(0, 100%, 50%, 0.15); 
	border-radius: 1rem;
	position: absolute;
	bottom: -12rem;
	left: 0;
	right: 0;
	margin-inline: auto;
	transition: opacity 1s 1s;
	opacity: 0;
	font-size:11px;
}

.cad_description{
	display: block;
	font-size: 40px;
	margin-bottom: .25rem;
}

.card_title{
	font-size: 20px;
	font-family: serif;
	font-weight: 700;
	margin-bottom: .55rem;
	margin-top: .75rem;
}

.card_button{
	text-decoration: none;;
	font-weight: 500;
	color: darkgreen;
}

.card_button:hover{
text-decoration: underline;
}


/*animation_card*/
.card_article:hover .card_data {
	animation: show-data 1s forwards;
	opacity: 1;
	transition: opacity .3s;

}

.card_article:hover{ animation: remove-overflow 2s forwards; }

.card_article:not(:hover) .card_data{ animation: remove-data 1s forwards;}

/*ABOUT US*/
.about {
    display: flex;
    align-items: center;
    margin-top: 50px;
    min-height: 100vh;    
   	min-width: 200vh;
    background: url("IMG/AbtUSHEADER.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.about-content {
    max-width: 800px;
}

.about-content h2 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 2rem;
}

.about-content p {
    font-size: 20px;
    color: #fff;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.about-content p, .about-content h2, .about-content{
	background-color: rgba(48, 60, 27, 0.8);
	text-transform: none;
	font-family: Baskerville, serif;
}

/*OUR TEAM*/

.team-section{
	margin-top: 30px;
}

.team-title h1{
	font-size: 50px;
	color:#000;
	text-align: center;
	position: relative;
	text-decoration: underline;
	margin-left: 20px;
}

.team-cards{
	width: 150%; 
    max-width: 1200px; 
    display: flex;
    justify-content: space-between;
    margin: 10px auto; 
    padding: 0 20px; 
    box-sizing: border-box; 
	margin-right: 600px;
}

.team-card{
		background-color: #0f1d03;
		border-radius: 50px;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
		margin: 0 20px; 
		padding: 30px;
		text-align: center;
		transition: transform 0.6s ease;
		position: relative;
		width: calc(55% - 20px);
}

.team-card:hover{
	transform: translateY(-12px);
}

.team-image img{
	width: 200px; 
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.team-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-detail h3 {
	color:#fff;
	font-size: 30px;
	margin:15px;
	margin-bottom: 5px;;
}

.team-detail p{
	color:#aad496;
	font-size: 19px;
	margin-top: 8px;;
}

.team-detail a {
	color: whitesmoke; 
	transition: color 0.3s; 
	margin-bottom: 2px;
	font-size: 12px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-transform: none
  }
  
  .team-detail a:hover {
	color: orange;
  }
  
  .team-detail a:active {
	color: orange;
  }
  

@media screen and (max-width: 768px) {
	.team-cards{
		display: flex;
		flex-direction: column;
		margin:20px auto;
	}

	.team-card{
		width:85%;
		margin:25px auto;
	}
}

/* FOOTER */
footer {
	position: fixed;
	background: #ED9132;
	width: 100%;
	bottom: 0;
	left: 0;
}

footer::before{
	content: '';
	position: absolute;
	left: 0;
	top: 100px;
	height: 1px;
	width: 100%;
}

footer .content{
	max-width: 1250px;
	margin: auto;
	padding: 5px 40px;
	display: none;
}


footer .content .top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.content .top .logo-details{
	color: #fff;
	font-size: 30px;
}

.box.input-box {
    list-style-type: none; 
}

.copyright_text{
	text-align: center;
}

footer .content .link-boxes{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

footer .content .link-boxes .box a {
    color: #FFEFCD; 
    transition: color 0.3s; 
}

footer .content .link-boxes .box a:hover {
    opacity: 0.8; 
}


footer .content .link-boxes .box{
	margin-bottom: 5px;
}

.content .link-boxes{
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
	position: relative;
}

.link_name::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 2px;
	width: 35px;
}

footer .bottom-details .bottom_text{
	max-width: 1250px;
	margin: auto;
	padding: 10px 40px;
	display: flex;
	justify-content: space-between;
}

.bottom-details .bottom_text span, .bottom-details .bottom_text a{
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	opacity: 0.8;
	text-decoration: none;
}

.bottom-details .bottom_text a:hover{
	opacity: 1;
	text-decoration: underline;
}

.bottom-details .bottom_text a{
	margin-right: 10px;
}

/* Contact Info Modal styles */
#contactInfoModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#contactInfoModal .modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
	
}

#contactInfoModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#contactInfoModal .close:hover,
#contactInfoModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#contactInfoModal p {
    margin-bottom: 20px;
	font-size: 14px;
	font-family: 'Times New Roman', Times, serif;
}

#contactInfoModal h2{
    margin-bottom: 7px;
	font-size: 30px;
}

#contactInfoModal h3{
    margin-bottom: 7px;
	font-size: 20px;
}

#contactInfoModal ul {
    list-style-type: none;
    padding-left: 0;
	margin-bottom: 20px;
	font-size: 15px;
	
}

#contactInfoModal ul li {
    margin-bottom: 5px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#contactInfoModal ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#contactInfoModal ul li a:hover {
    color: darkorange;
}

#contactInfoModal form {
    margin-top: 10px;
}

#contactInfoModal input[type="email"],
#contactInfoModal textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#contactInfoModal button[type="submit"] {
    background-color: darkorange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contactInfoModal button[type="submit"]:hover {
    background-color: #ff7f00;
}

@media (max-width: 900px) {
	footer .content .link-boxes{
		flex-wrap: wrap;
	}
	footer .content .link-boxes .input-box{
		width: 40%;
		margin-top: 10px;
	}
}

@media (max-width: 700px) {
	footer{
		position: relative;
		display: none !important;
	}
	footer .content .link-boxes .box{
		width: calc(100% / 3 - 10px);
	}
	footer .content .link-boxes .input-box{
		width: 60%;
	}
	.bottom-details .bottom_text span, .bottom-details .bottom_text a{
		font-size: 12px;
	}
}

footer .content .link-boxes .input-box input[type="text"] {
	text-transform: none;
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    font-size: 16px; 
}

footer .content .link-boxes .input-box input[type="text"]::placeholder {
    color: #aaa; 
    font-style: italic;
}


footer .content .link-boxes .input-box input[type="button"] {
    padding: 10px 20px; 
    background-color: #609773; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
    transition: background-color 0.3s; 
}

footer .content .link-boxes .input-box input[type="button"]:hover {
    background-color: #fa8072; 
}


@keyframes show-data{
	50%{ transform: translateY(-10rem);}
	100%{transform: translateY(-7rem);}}

@keyframes remove-overflow{
	to{overflow: initial;}}

@keyframes remove-data{
	0%{transform: translateY(-7rem);}
	50%{transform: translateY(-10rem);}
	100%{transform: translateY(.5rem);}}

@keyframes show-overflow{
	0%{overflow: initial; pointer-events: none;}
	50%{overflow: hidden;}}


@media (max-width: 991px){
	html{ font-size: 55%; }

	header{ padding: 2rem; }

	section{ padding: 2rem;}
}

@media (max-width: 768px){
	header .fa-bars{
		display: block;
	}

	header .navbar{
		position: absolute;
		top:100%; left: 0; right: 0;
		background: #eee;
		border-top: .1rem solid rgba(0, 0, 0, .1);
	}

	header #toggler:checked ~ .navbar{
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
 
	header .navbar a{
		margin: 1.5rem;
		padding: 1.5rem;
		background: #fff;
		border: 1rem solid rgba(0, 0, 0, .1);
		display: block;
	}
}